/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    min-width: 800px;
    gap: 1rem; /* Add space between flex children */
  }
  
  header, footer {
    background: none;
    color: #333;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    min-width: 800px;
  }
  
  header h1, footer p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem; 
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    transition: all 300ms ease;
  }
  
  nav ul li a:hover {
    color: grey;
    text-decoration: underline;
  }
  
  main {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-width: 800px;
    gap: 1rem; 
  }
  
  section {
    background: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: none;
  }

  section h2 {
    text-align: center;
    margin-top: 1rem;
  }
  
  iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 2rem; 
  }

  section p {
    margin-bottom: 2rem;
    margin-left: 1rem; /* Adjust as needed */
  }

  section label {
    margin-left: 1rem; /* Adjust as needed */
  }

  footer {
    background: none;
    color: #333;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    min-width: 800px;
  }
  
  footer h2 {
    font-size: 1.2rem; /* Smaller font size */
    font-weight: 500;
  }
  
  footer p {
    font-size: 1rem; /* Smaller font size */
    margin-bottom: 1rem; 
    margin-top: 1rem;
  }
  
  footer a {
    color: #333; /* Match the rest of the text */
    text-decoration: none;
  }
  
  footer a:hover {
    color: grey;
    text-decoration: underline;
  }

/* BUTTONS */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  font-weight: 500;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
  color: #333;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin-bottom: 4rem;
  margin-top: 2rem;
}